@import "tailwindcss";
:root {
  --color-primary: #3251d0;
  --color-primary-dark: #192868;
}
.white-button {
  @apply border text-white rounded-sm bg-white px-4 py-2 hover:bg-gray-500;
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.white-button:hover {
  color: var(--color-primary-dark);
}
.white-button-dark {
  @apply border text-white rounded-sm bg-white px-4 py-2 hover:bg-gray-500;
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}
.red-button {
  @apply border text-white rounded-sm bg-red-500 border-red-500 hover:bg-red-700 hover:border-red-700;
}
.red-button-dark {
  @apply border text-white rounded-sm bg-red-700 border-red-700 hover:bg-red-500 hover:border-red-500;
}
.blue-button {
  @apply border text-white rounded-sm hover:bg-[var(--color-primary-dark)] hover:border-[var(--color-primary-dark)];
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.blue-button-dark {
  @apply border text-white rounded-sm hover:bg-[var(--color-primary)] hover:border-[var(--color-primary)];
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}
.user-initials-base {
  @apply w-16 h-16 flex items-center justify-center text-white text-xl font-semibold border rounded-full;
}
.user-initials-base-dark {
  @apply w-16 h-16 flex items-center justify-center text-white text-xl font-semibold border rounded-full;
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}
.user-initials-base-light {
  @apply w-16 h-16 flex items-center justify-center text-white text-xl font-semibold border rounded-full;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.info {
  @apply text-sm text-gray-600 dark:text-gray-400;
}